body{
    font-family: Helvetica Neue, Arial, sans-serif;
    font-size: 14px;
    color: #555;
}

table {
    border-spacing: 0;
    width: 100%;

}

th {
    background-color: #008f68;
    color: rgba(255,255,255,0.66);
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

td {
    border-bottom: 1px #008f68 solid;
}

th, td {
    min-width: 150px;
    padding: 10px 20px;
}

th.active {
    color: #fff;
}

th.active .arrow {
    opacity: 1;
}

.arrow {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 0;
    margin-left: 5px;
    opacity: 0.66;
}

.arrow.asc {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid #FAE042;
}

.arrow.dsc {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #FAE042;
}

#grid-template {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    width: 600px;
}
.wrapper{
    height: 300px;
}

#grid-template > .table-body-wrapper {
    width: 100%;
    overflow-y: scroll;
}

#grid-template {
    height: auto;
}

#grid-template > .table-body-wrapper {
    flex: 1;
}
